
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }

body {
  margin-left: 140px !important;
  margin-right: 140px !important;
  margin-top: 50px !important;
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.6;
  background: #fadadd;
  overflow-x: hidden;
  font-size: 16px; }
  body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0); 
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.text-black {
  color: #000000 !important; }

.text-secondary {
  color: #000000 !important; }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }


hr {
  font-family: 'Space Grotesk', sans-serif;
  margin: 1rem 0;
  color: #181b1f;
  background-color: #fadadd;
  border: 0;
  opacity: 0.25; }

hr:not([size]) {
  height: 1px; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: 'Space Grotesk', sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1, .h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: calc(1.375rem + 1.5vw); }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem; } }

h2, .h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: calc(1.325rem + 0.9vw); }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem; } }

h3, .h3 {
  font-size: calc(1.3rem + 0.6vw); }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem; } }

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw); }
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.5rem; } }

h5, .h5 {
  font-size: 1.25rem; }

h6, .h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-bs-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul {
  padding-left: 2rem; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small, .small {
  font-size: 0.875em; }

mark, .mark {
  padding: 0.2em;
  background-color: #fadadd; }

  sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #fadadd;
  text-decoration: underline; }
  a:hover {
    color: #cc3d3d; }

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none; }

pre,
code,
kbd,
samp {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1em;
  direction: ltr /* rtl:ignore */;
  unicode-bidi: bidi-override; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em; }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal; }

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word; }
  a > code {
    color: inherit; }

kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #181b1f;
  background-color: #fadadd;
  border-radius: 0.2rem; }
  kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700; }

figure {
  margin: 0 0 1rem; }

img,
svg {
  vertical-align: middle; }

table {
  caption-side: bottom;
  border-collapse: collapse; }

caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: inherit;
  line-height: inherit; }

button,
select {
  text-transform: none; }

[role="button"] {
  cursor: pointer; }

select {
  word-wrap: normal; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

textarea {
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: calc(1.275rem + 0.3vw);
  line-height: inherit; }
  @media (min-width: 1200px) {
    legend {
      font-size: 1.5rem; } }
  legend + * {
    clear: left; }
/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4d638c;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #4d638c;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#portfolio,
#about,
#blog,
#contact,
#single-project,
#blog-single-post {
  padding-top: 80px;
  padding-bottom: 120px;
}

.section-title {
  position: relative;
  padding-bottom: 62px;
  text-align: center;
}

.section-title h3 {
  color: #555;
  font-weight: 400;
  letter-spacing: 4px;
}
 
.logo {
    font-size: 24px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: black; /* Color del texto */
    display: block; 
    line-height: 2;
    transition: color 0.3s ease-in-out; 
}

.logo:hover {
    color: #ff0080; /* Color del texto al pasar el cursor */
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wordpress.sk-spinner {
  background-color: #bdc3c7;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  -webkit-animation: sk-innerCircle 1s linear infinite;
  animation: sk-innerCircle 1s linear infinite; 
}

.sk-spinner-wordpress .sk-inner-circle {
  display: block;
  background-color: #ffffff;
  width: 16px;
  height: 16px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  left: 5px; 
}

@-webkit-keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-innerCircle {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }



/*---------------------------------------
    Main Navigation             
-----------------------------------------*/

.navbar-default {
  background-color: #fadadd; /* Color de fondo de la barra de navegación */
  border-top: 1px solid #000;
  border-bottom: 1px solid #000; /* Línea negra en la parte inferior */
}

.navbar-default .navbar-brand a {
  font-weight: bold !important;
  font-size: 2em !important; 
  color: #000 !important; /* Color del texto de la marca */
}

/* Color de texto al pasar el cursor sobre la marca */
.navbar-default .navbar-brand a:hover {
  color: #b3868e !important; /* Color del texto al pasar el cursor */
}

/* Color de texto y al pasar el cursor en el navbar */
.navbar-default .navbar-nav li a {
  color: #000; /* Color del texto normal en el navbar */
}

.navbar-default .navbar-nav li a:hover {
  color: #ff0080 !important; /* Color del texto al pasar el cursor */
}

/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  font-size: 4.8em;
  max-width: 20em; /* Ancho máximo en tres líneas */
  line-height: 1.2; /* Espaciado entre líneas */
  margin-top: 80px; /* Espacio en la parte superior */
}

/*---------------------------------------
   About section              
-----------------------------------------*/

#about .text-center {
  padding-bottom: 42px;
}

#about .col-md-8:first-child {
  padding-left: 0;
  #about .col-md-8:last-child 
  padding-right: 0;
}

#about .col-md-8 img {
  padding-right: 15px;
  padding-bottom: 15px;
}

#about hr {
  width: 115px;
  margin-top: 42px;
  margin-bottom: 42px;
}

#about ul {
  padding-left: 15px;
}

#about ul li {
  color: #777;
  font-size: 16px;
  font-weight: 400;
  padding-top: 2px;
  padding-bottom: 2px;
}

.text-container {
  display: flex;
  align-items: flex-end; /* Alinea en la línea superior */
  justify-content: flex-start; /* Alinea a la izquierda */
  position: relative; /* Establece una posición relativa para el contenedor */
}

.text-container {
  display: flex;
  align-items: flex-end; /* Alinea en la línea superior */
  justify-content: flex-start; /* Alinea a la izquierda */
  position: relative; /* Establece una posición relativa para el contenedor */
  margin: 20px; /* Márgenes fijos */
}

/* Agrega una línea negra encima de la sección */
.text-container::before {
  content: "";
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000; /* Color de la línea negra */
}

/* Espaciado entre los textos */
.text-item {
  margin-top:85px;
  margin-bottom:-90px;
  margin-right: 20px; /* Márgenes fijos */
}

.text-item {
  color: #000; /* Color del texto */
  font-size: 14px; /* Tamaño de fuente */
}

/*---------------------------------------
   Portfolio section              
-----------------------------------------*/

#portfolio small {
  color: #0000;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#portfolio .portfolio-thumb {
  position: relative;
  padding: 0;
  margin-top: 15px;
}

#portfolio .portfolio-thumb .portfolio-overlay {
  position: absolute;
  background: #fadadd;
  color: #0000;
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

#portfolio .portfolio-item {
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
  opacity: 0;
}

#portfolio .text-center {
  padding-top: 12px;
}

#portfolio .portfolio-thumb img {
  width: 120%; /* Ancho de las imágenes */
  max-height: 280px; /* Altura máxima de 200px para las imágenes */
  object-fit: cover; 
  transition: all 0.4s ease-in-out; /* Transición al pasar el cursor */
}

#portfolio .portfolio-thumb {
  margin-top: 10px; /* Distancia entre las imágenes */
  margin-left: -10px;
  margin-right: -10px;
}

/*---------------------------------------
   Single Project section              
-----------------------------------------*/

#single-project {
  text-align: center;
}

#single-project .col-md-12,
#single-project .col-md-6,
#single-project .col-md-4 {
  padding-left: 0px;
  padding-bottom: 22px;
}

#single-project .col-md-12 {
  padding-top: 42px;
}

#single-project .text-center strong {
  display: block;
  padding-top: 12px;
}

#single-project a {
  color: #555;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 14px;
}



/*---------------------------------------
   Contact section              
-----------------------------------------*/

#contact .col-md-6,
#contact .col-md-12 {
  padding-left: 0;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
  color: #000; /* Texto en negro */
}

#contact .form-control:hover {
  border-color: #000; /* Cambiado a negro al pasar el cursor */
}

#contact input,
#contact select {
  height: 50px;
  color: #000; /* Texto en negro */
}

#contact input[type="submit"] {
  background: #fadadd; 
  border-radius: 0;
  border: 1px solid #000;
  color: #000; /
  font-weight: 400;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  color: #ff0080; 
  background: #fadadd; 
  border-color: #ff0080; 
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    border-top: 1px solid #f0f0f0;
    padding: 100px 0px;
    position: relative;
}

footer .col-md-3 .fa {
  font-size: 42px;
}

footer a {
  color: #555;
}

footer hr {
  border-color: #ffffff;
  margin-top: 42px;
  margin-bottom: 22px;
}

footer .footer-copyright {
  padding-top: 16px;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #777;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    text-align: center;
    vertical-align: middle;
    position: relative;
    margin: 22px 12px 10px 12px;
}

.social-icon li a:hover {
    color: #000;
    transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/


@media (max-width: 767px) {

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
    line-height: 48px;
  }

  h3 {
    font-size: 22px;
  }

  .section-title h2 {
    font-size: 22px;
    line-height: 35px;
  }

  .navbar-default {
    margin-top: 0px;
    text-align: center;
  }

  #about .col-md-8 img {
    padding-right: 0px;
  }

  #blog-single-post .blog-post-title h2 {
    font-size: 29px;
    line-height: 40px;
  }

  footer {
    text-align: center;
  }

  footer .col-md-4 {
    padding-top: 42px;
  }

}


